

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}


table, table td {
	padding:0;
	border:none;
	
}



img {
	vertical-align:top;
}
embed {
	vertical-align:top;
}


